<!doctype html>
<html lang="fr">
{% block head %}
<head>
  <meta charset="utf-8">
  <title>En Vert & Contre Tous</title>
  <link rel="stylesheet" href="css/headerStyle.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
{% endblock %}
<body>
    {{ block ("header", "/header.html.twig")}}
    <div style="display: flex; justify-content: center"> 
      <h1>Bienvenue sur EnVert&ContreTous</h1>
    </div>
    <div style="display: flex; justify-content: center"> 
      <h4>L'appli qui calcule le coût energétique de vos pages Web</h4>
    </div>
    
    <div style="display: flex; justify-content: center; margin-top: 200px;"> 
      <button class="bg-green" style="margin-right: 15px"><a href="/login"><h4>Se connecter</h4></a></button>
      <button class="bg-green"s><a href="/register"><h4>Créer son compte</h4></a></button>    
    </div>
    
    
</body>
</html>